[submodule "libs/sdsl-lite"]
	path = libs/sdsl-lite
	url = https://github.com/xxsds/sdsl-lite
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest
[submodule "libs/sux_ef"]
	path = libs/sux_ef
	url = https://github.com/FilippoLari/sux
